$page-background-color: #292929;
$blogpost-background-color: darken($page-background-color, 10);
$heart-beat-color: #ef2b2b;
$date-color: #a5a5a5;
$header-active-link-background: darken($color: rgba(26, 24, 24, 0.87), $amount: 5%);
$code-background: lighten($color: $page-background-color, $amount: 10);
$code-border-color: darken($page-background-color, 10%);