@import './variables';

.blogsContainer {
  display: grid;
  grid-gap: calc(var(--app-spacer) / 2);
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-auto-flow: dense;
}

.blogPost {
  padding: var(--app-spacer);
  border-radius: calc(var(--border-radius) * 2);
  background-color: var(--blogpost-background-color);
  p {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  header {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

.summary {
  margin-top: 0;
}

.dateAndReadTime {
  margin: calc(var(--app-spacer) / 5) 0;
  font-size: 0.8em;
  color: var(--date-color);
}

.createdDate {
  position: relative;
  margin-right: 19px;
}

.readMore {
  font-size: 0.8em;
  margin-top: var(--app-spacer);
  text-align: right;
}
