@import './variables';

.blogPageLayout {
  @media (min-width: 490px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.blogsContainer {
  display: grid;
  grid-gap: calc(var(--app-spacer) / 2);
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  grid-auto-flow: dense;
  grid-column-start: 1;
  grid-column-end: -1;
}

.selectSortType {
  justify-self: end;
  @media (max-width: 490px) {
    margin-bottom: var(--app-spacer);
    display: block;
  }

  select {
    margin-left: calc(var(--app-spacer) / 2);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: var(--perforated-line);
    background: transparent;
    color: inherit;
    font-size: 0.8rem;
  }
}

.blogPost {
  padding: var(--app-spacer);
  border-radius: calc(var(--border-radius) * 2);
  background-color: var(--blogpost-background-color);
  p {
    margin: 0;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }
  header {
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'Open Sans Condensed', sans-serif;
  }
}

.summary {
  margin-top: 0;
}

.dateAndReadTime {
  margin: calc(var(--app-spacer) / 5) 0;
  font-size: 0.8em;
  color: var(--date-color);
}

.createdDate {
  position: relative;
  margin-right: 19px;
}

.readMore {
  font-size: 0.8em;
  margin-top: var(--app-spacer);
  text-align: right;
}
