@import '../styles/variables';

.linksContainer {
  display: grid;
  grid-auto-rows: 45px;

  > div {
    padding: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .link {
    border-bottom: lighten($page-background-color, 10%) dotted 1px;
  }

  @media screen and (min-width: 460px) {
    grid-template-columns: 1fr auto;
    > div.labelDescription {
      border-bottom: lighten($page-background-color, 10%) dotted 1px;
    }
  }
}

.sectionHeader {
  grid-column-start: 1;
  grid-column-end: -1;
  background-color: var(--code-background);
  align-self: center;
}
