@import './variables';
@import './layout';
@import './scrollbar';
@import './selection';

:root {
  // Spacer
  --app-spacer: 20px;
  --border-radius: 5px;

  // Colors
  --page-background-color: #{$page-background-color};
  --page-text-color: rgb(233, 233, 233);
  --logo-color: #d8cd41;
  --link-color: rgb(51, 149, 240);
  --blog-title-color: orange;
  --tagline-color: #b99d78;
  --talent-color: #00ffff;

  // Border
  --perforated-line: #545454 dotted 1px;

  // Component
  --blogpost-background-color: #{$blogpost-background-color};
  --date-color: #{$date-color};
}

html,
body,
#__next {
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  height: 100%;
}

body {
  background-color: var(--page-background-color);
  color: var(--page-text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

* {
  box-sizing: border-box;
}

#__next {
  margin: 0 auto;
  @media screen and (min-width: 600px) {
    max-width: 80%;
  }
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 50px 0 10px;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.65rem;
}

h3 {
  font-size: 1.35rem;
}

pre {
  background: lighten($color: $page-background-color, $amount: 10);
  border: darken($page-background-color, 10%) solid 1px;
  padding: var(--app-spacer);
  border-radius: calc(var(--border-radius) * 2);
  max-width: 100%;
  overflow: auto;
}

code {
  background: lighten($color: $page-background-color, $amount: 10);
  border-radius: calc(var(--border-radius) * 2);
  padding: 5px;
  line-height: 1.5em;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
    color: $heart-beat-color;
  }
  25% {
    transform: scale(1.1);
    color: lighten($heart-beat-color, 10%);
  }
  40% {
    transform: scale(1);
    color: $heart-beat-color;
  }
  60% {
    transform: scale(1.1);
    color: lighten($heart-beat-color, 10%);
  }
  100% {
    transform: scale(1);
    color: $heart-beat-color;
  }
}

.hearts {
  color: #ef2b2b;
  animation-name: beatHeart;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
  display: inline-block;
}
