@import '../styles/variables';

.header {
  display: grid;
  grid-template-columns: 120px 1fr;
  align-items: center;
  padding: var(--app-spacer) 0;
  font-family: 'Open Sans Condensed', sans-serif;
  border-bottom: var(--perforated-line);
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logoName {
  font-size: 42px;
  color: var(--logo-color);
  text-shadow: 1px 1px 1px #a3e6b6, 3px 3px 2px #b16583;
}

.tagline {
  font-size: 14px;
  color: var(--tagline-color);
}

a {
  .logoName &,
  .tagline & {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.menuIcon {
  justify-self: end;
}

.open {
  transition: all 0.5s ease-in-out;
  margin-top: 20px;
}

.nav {
  grid-column-start: 1;
  grid-column-end: -1;
  text-align: right;
  transition: all 0.5s ease-in-out;

  &.closed {
    height: 0 !important;
    overflow: hidden;
    @media screen and (min-width: $menu-breakpoint) {
      height: auto !important;
    }
  }
  @media screen and (min-width: $menu-breakpoint) {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    margin-top: 0;
  }
}

.menuItems {
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: darken($color: $page-background-color, $amount: 3%);
  @media screen and (min-width: $menu-breakpoint) {
    display: flex;
    background-color: transparent;
    justify-content: flex-end;
  }

  li {
    padding: 10px;
    border-bottom: 1px dotted lighten($page-background-color, 5%);
    @media screen and (min-width: $menu-breakpoint) {
      padding: 5px 10px;
      border-radius: var(--border-radius);
      border: var(--perforated-line);
      margin-left: var(--app-spacer);
    }
  }
}

.activeLink {
  background: var(--header-active-link-background);
}
