.header {
  padding: var(--app-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: var(--perforated-line);
  font-family: 'Open Sans Condensed', sans-serif;
}

.menuItems {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.logo {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logoName {
  font-size: 42px;
  color: var(--logo-color);
  text-shadow: 1px 1px 1px #a3e6b6, 3px 3px 2px #b16583;
}

.tagline {
  font-size: 14px;
  color: var(--tagline-color);
}

a {
  .logoName &,
  .tagline & {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

.menuItems {
  display: flex;
  li {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    border: var(--perforated-line);
    margin-left: var(--app-spacer);
  }
}

.activeLink {
  background: lighten($color: rgba(26, 24, 24, 0.87), $amount: 10);
}
