$homepage-layout-breakpoint: 800px;

%rounded {
  border-radius: 50%;
  width: 250px;
  height: auto;
  @media screen and (max-width: 650px) {
    width: 120px;
  }
}

.profileImage {
  @extend %rounded;
  @media screen and (max-width: $homepage-layout-breakpoint) {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: -1;
  }
}

.introContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  align-items: center;
  justify-items: center;
}

.intro {
  p {
    font-size: 23px;
  }
}

.talent {
  min-width: 250px;
  display: inline-block;
  color: var(--talent-color);
}

.contactLinks {
  margin: 0;
  padding: 0;
  display: flex;
  @media screen and (max-width: $homepage-layout-breakpoint) {
    flex-direction: column;
    margin-bottom: var(--app-spacer);
  }

  li {
    margin-right: var(--app-spacer);
    list-style-position: inside;
    @media screen and (max-width: $homepage-layout-breakpoint) {
      margin-bottom: eval(var(--app-spacer) / 2);
    }
  }
}
