.rounded {
  border-radius: 50%;
  width: 250px;
  height: auto;
  @media screen and (max-width: 650px) {
    width: 120px;
  }
}

.introContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  align-items: center;
  justify-items: center;
}

.intro {
  p {
    font-size: 23px;
  }
}

.talent {
  min-width: 250px;
  display: inline-block;
  color: var(--talent-color);
}

.contactLinks {
  margin: 0;
  padding: 0;
  display: flex;
  li {
    margin-right: var(--app-spacer);
    list-style-position: inside;
  }
}
